---
title: Colors
---

.container
	.row
		.col-sm-12
			%ul.nav.nav-stacked.nav-pills
				%li<
					= link_to 'colorpicker.html', 'colorpicker.html'
				%li<
					= link_to 'pixel.html', 'pixel.html'
				%li<
					= link_to 'pixel2.html', 'pixel2.html'
				%li<
					= link_to 'pixel3.html', 'pixel3.html'
				%li<
					= link_to 'colorpalette.html', 'colorpalette.html'