---
title: Template
---


.container
	%ul.nav.nav-pills
		%li<
			= link_to 'Home', '#'
		%li<
			= link_to 'Items', '#'
		%li<
			= link_to 'Help', '#'

.container
	= link_to 'Btn', '#', class: 'btn btn-default'
	= link_to 'Btn Disables', '#', class: 'btn btn-default', disabled: true
	= link_to 'Normal link', '#'
	= link_to 'Btn Block', '#', class: 'btn btn-default btn-block'
	= link_to 'Btn Block', '#', class: 'btn btn-default btn-block'

.container
	%table.table.table-striped.table-hover.table-responsive
		%thead
			%tr
				%th First Name
				%th Last Name
				%th Age
				%th Total
				%th Discount
				%th Difference
				%th Date
		%tbody
			- 3.times do |i|
				%tr
					%td= lorem.first_name
					%td= lorem.last_name
					%td= (i+1) * 10
					%td $153.19
					%td 44.7%
					%td 100.9
					%td= lorem.date("%b %e, %Y %X")
