---
title: Responsive table
---

.container
	.row
		.col-sm-12
			%ul.nav.nav-stacked.nav-pills
				%li<
					= link_to 'table0.html', 'table0.html'
				%li<
					= link_to 'table1.html', 'table1.html'
				%li<
					= link_to 'table2.html', 'table2.html'
				%li<
					= link_to 'table3.html', 'table3.html'
				%li<
					= link_to 'table4.html', 'table4.html'