!!!
%html
	%head
		%meta{charset: 'utf-8'}
		%title<
			= current_page.data.title + ' | jHC Study' || "Dev for Classmethod Blog"
		%meta{name: 'apple-mobile-web-app-capable',  content: 'yes'}
		%meta{name: 'apple-mobile-web-app-status-bar-style', content: 'black'}
		%meta{name: 'format-detection', content: 'telephone=no'}
		%meta{name: 'viewport', content: 'width=device-width, maximum-scale=1.0, minimum-scale=0.5,user-scalable=yes,initial-scale=1.0'}
		%link{href: 'http://fonts.googleapis.com/css?family=Raleway', rel: 'stylesheet', type:'text/css'}

		= stylesheet_link_tag "jhc-study"

	%body

		= partial 'layouts/global_header', locals: {title: current_page.data.title, sub_title: current_page.data.sub_title}

		= yield

		= partial 'layouts/global_footer'

		= javascript_include_tag 'http://code.jquery.com/jquery-2.0.0.min.js'
		- if current_page.data.js
			= javascript_include_tag current_page.data.js
